#hmwpa_scroll_box {
    border-left: 1px solid #7DB1D1;
    border-top: 1px solid #7DB1D1;
    border-radius: 0px;
    -moz-border-radius: 0px 0 0 0;
    -webkit-border-radius: 0px 0 0 0;
    bottom: 0;
    -moz-box-shadow: 0 0 0px #7DB1D1;
    -webkit-box-shadow: 0 0 0px #7DB1D1;
    box-shadow: 0 0 0px #7DB1D1;
    padding: 10px;
    position: fixed;
    right: -600px;
    width: 560px;
    z-index: 1000;
    background: #FFF;
}

.hmwpa-content-parent {
    width: 100%;
    min-height: 100px;
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 0px;
    border: 0px solid #000;
}

.hmwpa-content-parent .hmwpa-thumbnail {
    border: 0px solid #000;
    margin-right: 10px;
}

.hmwpa-content-parent .hmwpa-thumbnail img {
    width: 100%;
    height: auto;
}

.hmwpa-content-parent .hmwpa-content {
    border: 0px solid #000;
}

.hmwpa-content-parent .hmwpa-content h4.hmwpa-title {
    margin: 0!important;
    padding: 0!important;
}

.hmwpa-content-parent .hmwpa-content h4.hmwpa-title a {
    font-weight: 400;
    display: inline-block;
    line-height: 22px;
    margin-bottom: 10px;
    text-decoration: none;
    outline: none;
    overflow-wrap: break-word;
}

.hmwpa-content-parent .hmwpa-content .hmwpa-text p {
    margin: 0!important;
    padding: 0!important;
}

.hmwpa-content-parent .hmwpa-content p.hmwpa-time-category,
.hmwpa-content-parent .hmwpa-content p.hmwpa-time-category a {
    font-size: 12px;
    color: #555;
    text-decoration: none;
    outline: none;
}


/* === Close Icon === */

.hmwpa-close {
    position: absolute;
    width: 32px;
    height: 32px;
    left: -12px;
    padding: 7px;
    font-size: 24px;
    z-index: 99999;
    cursor: pointer;
    box-sizing: content-box;
    overflow: visible;
    background: url('../img/close_16.png') no-repeat;
    background-size: 24px;
}

.hmwpa-close {
    top: -12px;
}

.hmwpa-close:hover {
    color: #FF0000;
}

.hmwpa-close:before,
.hmwpa-close:after {
    position: absolute;
    left: 15px;
    background-color: #333;
}

.hmwpa-close:before {
    transform: rotate(45deg);
}

.hmwpa-close:after {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 600px) {
    #hmwpa_scroll_box {
        display: none;
    }
}